<div>
    <input type="date" id="start" placeholder="start" value="2019-06-21">
    <input type="date" id="end" placeholder="End" value="2019-09-20">
    <button id="button" onclick="searchInput()">Search</button>
</div>
<div>
    <select id="select">
    </select>
</div>
<canvas id="Chart"></canvas>